<div class="content-wrapper">
    <div class="masthead main-masthead section" data-section-name="projects">
        <div class="container main-text">
            <div class="header-content">
                <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    STUFF WE'RE PROUD OF
                </h3>
                <h4>
                    <span class="text-content-wrapper">
                        <span typingAnimation [typeSpeed]="30" [startDelay]="800" class="wow" data-wow-duration="0.5s" data-wow-delay="0s">Our constant desire to build solutions using cutting-edge technologies often leads us to enjoyable experiences. </span>
                  </span>
                </h4>
            </div>
        </div>
    </div>

    <div class="screen-section section" data-section-name="our-projects">
        <div class="section-title">
            <div class="bg-anim">
                <span class="text-anim wow" data-wow-duration="0.5s" data-wow-delay="0s">LATEST WORKS</span>
                <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0s"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding" *ngFor="let project of ps.projects">
                    <div class="img-wrapper blackpearl">
                        <div class="content-holder wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <div class="img-holder">
                                <img [src]="img.image" *ngFor="let img of project.images" [ngClass]="{'img1': img.is_cover, 'img2': !img.is_cover}" class="img-responsive">
                            </div>
                            <div class="content-wrapper">
                                <ul class="techs">
                                    <li *ngFor="let stack of project.stacks">
                                        <p>{{ stack.name }}</p>
                                    </li>
                                </ul>
                                <p class="title">{{ project.name }}</p>
                                <a uiSref="bookapp" class="link-bordered hvr-sweep-to-right">
                                    VIEW CASE STUDIES 
                                    <img src="/static/images/arrow-right.svg" class="arrow-sm">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
            We offer our services from  the idea conceptualization to shipping final digital products. Most of the time, we're here to support companies, Startups and individual make a better world.
        </p>
        <div class="item-links">
            <a uiSref="about" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW <strong>OUR STORY</strong>
                <img src="/static/images/arrow-right.svg">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
</div>