*.pyc
*.sqlite3
*local_settings.py

static/
media/

assets/fonts/
assets/images/
assets/scripts/core/node_modules/
assets/scripts/core/dist/
assets/scripts/core/src/assets/css/style.css
assets/scripts/core/src/assets/.sass-cache/
