<div class="m-nav">
  <ul class="">
      <li>
          <a uiSref="index" class="hvr-underline-from-center">HOME</a>
      </li>
      <li>
          <a uiSref="about" class="hvr-underline-from-center">OUR STORY</a>
      </li>
      <li>
          <a uiSref="process" class="hvr-underline-from-center">HOW WE WORK</a>
      </li>
      <li>
          <a uiSref="works" class="hvr-underline-from-center">PROJECTS</a>
      </li>
      <li>
          <a uiSref="http://blog.swiftkind.com" class="hvr-underline-from-center">JOURNAL</a>
      </li>
      <li>
          <a uiSref="contact" class="hvr-underline-from-center">CONTACT</a>
      </li>
  </ul>
</div>
<nav class="navbar main-nav main-nav-sticky">
      <div class="container-fluid">
          <div class="navbar-header">
              <a uiSref="index" class="navbar-brand">
                  <img src="/static/images/nav-logo.svg" class="nav-logo">
              </a>
          </div>
          <ul class="nav navbar navbar-nav navbar-right nav-links">
              <li>
                  <a uiSref='about' class="hvr-underline-from-center">OUR STORY</a>
              </li>
              <li>
                  <a uiSref="process" class="hvr-underline-from-center">HOW WE WORK</a>
              </li>
              <li>
              
                  <a uiSref="works" class="hvr-underline-from-center">PROJECTS</a>
              </li>
              <li>
                  <a href="http://blog.swiftkind.com" class="hvr-underline-from-center">JOURNAL</a>
              </li>
              <li>
                  <a uiSref="contact" class="hvr-underline-from-center">CONTACT</a>
              </li>
          </ul>
          <ul class="nav navbar navbar-nav navbar-right">
              <li>
                  <a href="#" class="mobile-nav">
                      <span class="bar top"></span>
                      <span class="menu">MENU</span>
                      <span class="bar bottom"></span>
                  </a>
              </li>
          </ul>
      </div>
</nav>