
//process page
.our-process {
    background: {
        image: url('../images/grid-bg.png');
        repeat: repeat;
    }
    padding:100px 0 0;
    position: relative;
    color: $white;
    @include mobile{
        padding-top:0;
    }
    .section-content {
        h2 {
            color: inherit;
        }
    } //process block and links
    .process-block {
        position: relative;
        min-height: 100vh;
        margin-top: 200px;
        margin-bottom: 200px;
        .block-description {
            // block description for all labels
            width: 450px;
            text-align: justify;

            text-align-last: left;
            position: absolute;
            right: 100px;
            top: 50px;
            font-size: 16px;
            z-index: 33;
            padding: 50px;
            background: rgba(0, 255, 153, 0.76);
            opacity: 0;
            height: 0;
            @include mobile {
                width: 250px;
                left: 0;
                right: 0;
                padding: 20px;
                margin: 0 auto;
            }
            p {
                font-family: $Maax-Sans-Regular;
                letter-spacing: 0.3px;

                line-height: 0;
            }
            &.show-text {
                opacity: 1;
                height: auto;
                p {
                    line-height: 1.71;
                }
            }
        }
        .pro-content {
            position: relative;
            .process-label {
                position: relative;
                cursor: pointer;
                .label-link {
                    position: relative;
                    @include tablet {
                        top: -135px;
                    }
                    .link-wrapper {
                        position: relative;
                        .link {
                            position: relative;
                            .text {
                                font-size: 24px;
                                letter-spacing: 2.4px;
                                text-align: center;
                                color: $white;
                                font-family: $Maax-Sans-Medium;
                                @include mobile {
                                    font-size: 12px;
                                }
                            }
                            .blink {

                                top: -3px;
                            }
                            .blink {
                                right: -15px;
                                @include transition(all,
                                ease,
                                0.5s);
                            }
                        }
                        .line {
                            width: 45px;
                            height: 1px;
                            border: solid 1px #0edc87;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                        }
                    }
                    &:hover {
                        .blink {
                            right: -60px !important;
                            width: 55px;
                            @include transition(all,
                            ease,
                            0.5s);
                        }
                    }
                }
            }
        }


        .path {
            max-width: 450px;
            margin: 100px auto;
            position: relative;
            .line {
                width: 1px;
                border: solid 1px #0edc87;
                position: absolute;
                @include mobile {
                    &.left,
                    &.right {
                        display: none;
                    }
                }
                &.left {
                    transform: rotate(-46deg);
                    left: 0;
                    height: 211px;
                }
                &.right {
                    transform: rotate(46deg);
                    right: 0;
                    height: 211px;
                }
                &.center {
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    height: 180px;
                }
            }
        }
        .discovery-icons {
            padding-top: 130px;
            padding-bottom: 100px;
            @include mobile {
                padding-top: 10px;
            }
            .thumb {
                padding: 10px 50px;
                @include mobile {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                }
                img {
                    margin: 50px 0;
                    width: 130px;
                    @include mobile {
                        width: 70px;
                        height: 70px;
                    }
                }
                .title {
                    font-size: 18px;
                    line-height: 1.78;
                    letter-spacing: 1.8px;
                    font-family: $Maax-Sans-Medium;
                    margin-bottom: 30px;
                    @include mobile {
                        text-align: left;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
                .description {
                    font-size: 14px;
                    line-height: 1.71;
                    @include mobile {
                        text-align: left;
                        margin-left: 10px;
                    }
                }
            }
        }
        #pro-architecture {
            .process-label {
                margin-top: 200px;
                margin-bottom: 150px;
                position: relative;
                @include tablet {
                    margin-top: 280px;
                    margin-bottom: 50px;
                }
            }
        }
        #pro-iteration {
            margin: 450px 0 0;
            min-height: 630px;
            @include mobile {
                min-height: 188px;
            }
            @include tablet {
                min-height: 380px;
            }
            .img-iterate {
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                @include tablet {
                    width: 50%;
                }
                @include mobile {
                    width: 50%;
                }
            }
            .left-label {
                position: absolute;
                left: 200px;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                @include tablet {
                    left: 110px;
                }
                @include mobile {
                    left: auto;
                    right: 25px;
                }
                .block-description {
                    right: 0;
                    @include tablet {
                        top: -270px;
                    }
                    @include mobile {
                        left: -115px;
                    }
                }
            }
            .right-label {
                position: absolute;
                right: 190px;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                @include tablet {
                    right: 80px;
                }
                .block-description {
                    right: -129px;
                    @include tablet {
                        top: -270px;
                        bottom: 0;
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
        #pro-launch {
            min-height: 700px;
            padding-top: 450px;
            .path {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    } //show description for each link
    #li-descovery,
    #li-architecture,
    #li-planning,
    #li-development,
    #li-launch {
        &:hover, &:active, &:focus {
            .block-description {
                opacity: 1;
                height: auto;
                @include transition(all,
                ease,
                1s);
                p {
                    line-height: 1.7;
                }
            }
            @include tablet {
                .block-description {
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                }
            }
        }
    }
}

.process-values {
    background: $black-pearl;
    color: $white;
    padding: 80px 0;
    position: relative;
    .featured-quote {
        margin: 120px 0;
        @include tablet {
            h3 {
                text-align: center;
            }
            p {
                text-align: right;
                margin-right: 75px;
            }
        }

        h3 {
            font-family: $Maax-Sans-Regular;
            font-size: 24px;
            margin-bottom: 50px;
            font-weight: normal;
            @include mobile {

                font-size: 18px;
                text-align: justify;
            }
        }
    }
    .values-header {
        font-size: 24px;
        margin-bottom: 100px;
    }
    .pv-item {
        height: 500px;
        @include mobile {
            display: flex;
            align-items: flex-start;
            height: 200px;
            img {
                width: 70px;
            }
        }
        h4 {
            font-size: 18px;
            font-family: $Titillium-Semibold;
            margin: 55px 0 30px;
            @include mobile {
                margin: 4px 0 10px 15px;
                font-size: 16px;
            }
        }
        p {
            line-height: 1.71;
            font-size: 16px;
            text-align: justify;
            
            @include mobile {
                margin-left: 15px;
                font-size: 14px;
            }
        }
    }
}


