<div class="footer-content">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-5">
              <h3>contact@swiftkind.com</h3>
              <p>
                  Door 1, 3rd Floor, Consuelo Building, J.P. Laurel Avenue, Lanang, Davao City, Philippines, 8000
              </p>
              <p>
                  (082) 225 - 1050
              </p>
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
              <p>
                  <strong>WHAT'S NEW</strong>
              </p>
              <div id="" class="carousel vertical slide pagelinks">
                  <div class="carousel-inner" role="listbox">
                      <div class="item active">
                          <p>
                              Looking for a <a href="#">Full-Stack Developer</a>
                          </p>
                      </div>
                      <div class="item">
                          <p>Transferred to new office</p>
                      </div>
                      <div class="item">
                          <p>Building a search engine</p>
                      </div>
                      <div class="item">
                          <p>Working with Safari Pages</p>
                      </div>
                  </div>
              </div>
              <div id="" class="carousel vertical slide pagelinks">
                  <div class="carousel-inner" role="listbox">
                      <div class="item ">
                          <p>
                              Looking for a <a href="#">Full-Stack Developer</a>
                          </p>
                      </div>
                      <div class="item active">
                          <p>Transferred to new office</p>
                      </div>
                      <div class="item">
                          <p>Builing a search engine</p>
                      </div>
                      <div class="item">
                          <p>Working with Safari Pages</p>
                      </div>
                  </div>
              </div>
              <div id="" class="carousel vertical slide pagelinks">
                  <div class="carousel-inner" role="listbox">
                      <div class="item ">
                          <p>
                              Looking for a <a href="#">Full-Stack Developer</a>
                          </p>
                      </div>
                      <div class="item ">
                          <p>Transferred to new office</p>
                      </div>
                      <div class="item active">
                          <p>Builing a search engine</p>
                      </div>
                      <div class="item">
                          <p>Working with Safari Pages</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3  col-sm-3">
              <p>
                  <strong>FOLLOW US</strong>
              </p>
              <p>
                  <a href="https://github.com/Swiftkind">Github</a>
              </p>
              <p>
                  <a href="https://www.behance.net/restyantiqc47e">Behance</a>
              </p>
              <p>
                  <a href="https://www.facebook.com/swiftkind/?ref=br_rs">Facebook</a>
              </p>
          </div>
      </div>
  </div>
</div>
<div class="copyright container-fluid">
  <a href="">COPYRIGHT  SWIFTKIND 2018</a>
</div>