<div class="content-wrapper">
    <div class="masthead section">
        <div id="masthead" class="particles"></div>
        <div class="container main-text">
            <div class="header-content">
                <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    HOW WE WORK
                </h3>
                <h4>
                    <span class="text-content-wrapper">
                        <span typingAnimation [typeSpeed]="30" [startDelay]="800" class="wow" data-wow-duration="0.5s" data-wow-delay="0s">Though our projects are uniquely tailored for each client, our methodology stays consistent. </span>
                  </span>
                </h4>
            </div>
        </div>

    </div>
    <div class="our-process">
        <div class="container">
            <div class="process-block">
                <div class="pro-content" id="pro-descovery" >
                    <div class="process-label text-center" id="li-descovery">
                        <a href="#" class="label-link center">
                            <span class="link-wrapper">
                                <span class="link" >
                                    <span class="text ">
                                        <div class="bg-anim">
                                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">DISCOVERY</span>
                                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                        </div>
                                    </span>
                                    <span class="blink"></span>
                                </span>
                                <span class="line"></span>
                            </span>
                        </a>
                        <div class="block-description">
                            <p>Upon Inquiry, we setup a meeting with the client to discuss the details of the project. We provide insights and cost/time estimate to help our client visualize the overall cost of the project. Our consultation is for free. <a uiSref="contact">Send us a Message</a></p>
                        </div>
                    </div>
                    <div class="discovery-icons">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 thumb">
                                <div class="text-center">
                                    <img src="/static/images/project.svg" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                                </div>
                                <div class="text-center">
                                    <p class="title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">HOURLY BASIS</p>
                                    <p class="description wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">We charge on an hourly basis, to minimise extra fees.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 thumb">
                                <div class="text-center">
                                    <img src="/static/images/dedicated.svg" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                                </div>
                                <div class="text-center">
                                    <p class="title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">PROJECT BASED</p>
                                    <p class="description  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">We estimate our time by project, so there are no hidden costs.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 thumb">
                                <div class="text-center">
                                    <img src="/static/images/hourly.svg" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                                </div>
                                <div class="text-center">
                                    <p class="title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">DEDICATED TEAM</p>
                                    <p class="description  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">We allocate a whole team for you, for constant support of your project.</p>
                                </div>
                            </div>
                        </div>
                        <div class="path">
                            <span class="line left  wow process-path-side " data-wow-duration="0.5s" data-wow-delay="0.5s"></span>
                            <span class="line center  wow process-path-center" data-wow-duration="0.5s" data-wow-delay="0.5s"></span>
                            <span class="line right  wow process-path-side" data-wow-duration="0.5s" data-wow-delay="0.5s"></span>
                        </div>
                    </div>
                </div>
                <div class="pro-content" id="pro-architecture">
                    <div class="process-label text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="li-architecture">
                        <a href="#" class="label-link center">
                            <span class="link-wrapper">
                                <span class="link">
                                    <span class="text">
                                        <div class="bg-anim">
                                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">PROJECT ARCHITECTURE</span>
                                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                        </div>
                                    </span>
                                    <span class="blink"></span>
                                </span>
                                <span class="line"></span>
                            </span>
                        </a>
                        <div class="block-description">
                            <p>In this stage, we break down the functionalities/features into small pieces of tasks and create sprints/milestones and then assign it to our developers. This helps us to plan ahead, anticipate possible blockers, and make sure on meeting the deadline. We follow the agile approach of development.</p>
                        </div>
                    </div>
                    <div class="path">
                        <span class="line center wow process-path-center " data-wow-duration="0.5s" data-wow-delay="0.5s"></span>
                    </div>
                </div>
                <div class="pro-content" id="pro-iteration">
                    <img src="/static/images/iterate.svg" class="img-responsive img-iterate">
                    <div class="left-label">
                        <div class="process-label text-center wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" id="li-development">
                            <a href="#" class="label-link center">
                                <span class="link-wrapper">
                                    <span class="link">
                                            <span class="text">
                                                <div class="bg-anim">
                                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">SPRINT PLANNING</span>
                                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                                </div>
                                            </span>
                                        <span class="blink"></span>
                                    </span>
                                    <span class="line"></span>
                                </span>
                            </a>
                            <div class="block-description">
                                <p>This stage is divided into two sub-stages, The first one is called "Introspective" and happens before the development is started and "Retrospective" which happens on the last day of the development. We set small goals for every sprint (this compose of a group of tasks) and the goal is to finish it by the end of the sprint. We usually do one sprint per week. Plan on the first day of the sprint and evaluate the development by the end of the week.</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-label">
                        <div class="process-label text-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s" id="li-planning">
                            <a href="#" class="label-link center">
                                <span class="link-wrapper">
                                    <span class="link">
                                        <span class="text">
                                            <div class="bg-anim">
                                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">DEVELOPMENT</span>
                                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                            </div>
                                        </span>
                                        <span class="blink"></span>
                                    </span>
                                    <span class="line"></span>
                                </span>
                            </a>
                            <div class="block-description">
                                <p>At this stage, the actual coding happens. Developer(s) assigned to the project works on the small tasks that is assigned to them. The developers works on one task at a time then they push it for review and testing. The process is a cycle because each tasks are being evaluated and reviewed before moving to the next task. This will ensure that a specific feature is fully working with no issues before moving/working to a new feature.</p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="pro-content" id="pro-launch">
                    <div class="path">
                        <span class="line center wow process-path-center " data-wow-duration="0.5s" data-wow-delay="0.5s"></span>
                    </div>
                    <div class="process-label text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="li-launch">
                        <a href="#" class="label-link center">
                            <span class="link-wrapper">
                                <span class="link">
                                    <span class="text">
                                        <div class="bg-anim">
                                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">SHIP AND MAINTAIN</span>
                                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                        </div>
                                    </span>
                                    <span class="blink"></span>
                                </span>
                                <span class="line"></span>
                            </span>
                        </a>
                        <div class="block-description">
                            <p>When we reach this stage, it means that the development is done and the project is deployed. We honestly don't want to leave our clients hanging and so we offer maintenance contract after the project is shipped.</p>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="process-values">
        <div class="section-title">
            <p>OUR STANDPOINT</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="featured-quote">
                        <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                            We differentiate ourselves by being extremely attentive to our clients. Helping them in any way we can even if it doesn't benefit us immediately. Because that's what our clients are going to remember.
                        </h3>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            -  Earvin Gemenez, CEO
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="values-header">
                        <div class="bg-anim">
                            <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1s">Our Standards</span>
                            <div class="anim wow" data-wow-duration="1s" data-wow-delay="1s"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pv-item ">
                    <img src="/static/images/simple.svg" class="img-responsive wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div>
                        <h4>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.6s">KEEP IT SIMPLE</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                            </div>
                        </h4>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">
                        We keep our codes simple. It's easier to maintain simply written codes than spaghetti codes. "Simple is better than complex" - Zen of python
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pv-item">
                    <img src="/static/images/no-errors.svg" class="img-responsive wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                    <div>
                        <h4>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.8s">ERROR SHOULD NEVER PASS SILENTLY</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.8s"></div>
                            </div>
                        </h4>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                        We are very transparent in almost everything. From the codes we that write, Issues that can possibly prevent us from reaching the goal, to additional charges (paid packages, subscriptions, plans that will be used). We let our clients to be involved in the development and make sure that they understand every bit of our action and decisions in the project.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pv-item">
                    <img src="/static/images/quality.svg" class="img-responsive  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div>
                        <h4>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.6s">QUALITY OVER QUANTITY</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.8s"></div>
                            </div>
                        </h4>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                        We maybe low in numbers but each one in our team is very good in what he/she does. We are very picky in terms of our recruitment and we make sure that we hire an above average developer. Our current team composes of Full-stack and Open-stack developers.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pv-item">
                    <img src="/static/images/better.svg" class="img-responsive wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                    <div>
                        <h4>
                            <div class="bg-anim">
                                <span class="text-anim wow" data-wow-duration="0.8s" data-wow-delay="1.2s">MAKE IT BETTER, EVERY DAY</span>
                                <div class="anim wow" data-wow-duration="1s" data-wow-delay="1s"></div>
                            </div>
                        </h4>
                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s">
                            We never stop learning. Everyday we practice, and we do our best to improve (a discipline that runs through our blood). Our long-term goal is for everyone in the team to reach the level of the mythical 10x progammer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-link">
        <h4 class="text-bg">WORK WITH US</h4>
        <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Let's create something amazing</h3>
        <a uiSref="contact" class="inverted-link wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">MAKE IT HAPPEN</a>
    </div>
</div>