<div class="content-wrapper">
    <div class="secondary-masthead">
        <div class="section-title">
            <div class="bg-anim">
                <span class="text-anim wow" data-wow-duration="0.5s" data-wow-delay="0s" >THE GALLERY</span>
                <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0s"></div>
            </div>
        </div>
        <div class="container">
            <div class="s-header-text">
                <p typingAnimation [typeSpeed]="30" [startDelay]="800">
                    Lorem ipsum dolor amet palo santo meh schlitz shoreditch vexillologist synth, raclette umami polaroid copper mug mustache.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gallery-section">
            <div class="gallery-thumbnail">
                <div class="row">
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info" data-toggle="modal" data-target="#previewModal">
                                <div class="image" style="background-image: url('/static/images/bl2.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl3.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl4.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl5.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl6.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl7.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl8.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl9.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl10.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl2.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl1.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl3.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl5.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gl-card">
                            <a href="#" class="card-info">
                                <div class="image" style="background-image: url('/static/images/bl4.jpg');"></div>
                                <div class="card-desc">
                                    <p>Cloud bread celiac hell of migas cliche kombucha wayfarers YOLO leggings you probably haven’t heard of them subway tile irony deep v godard beard.</p>
                                    <p class="card-date">
                                        Jan 8, 1017
                                    </p>
                                </div>
                            </a>
                            <div class="card-name flex-center">
                                <p>Invoice app</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL START -->

        <div class="modal fade previewModal" role="dialog" id="previewModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">X</a>
                    </div>
                    <div class="modal-body">
                        
                        <div class="modal-thumbnail">
                            <div class="thumbnail-wrapper">
                                <div class="featured">
                                    <div class="img" style="background-image: url('/static/images/tl-4.png');"></div>
                                </div>
                                <div class="more-thumbs">
                                    <div class="img" style="background-image: url('/static/images/tl-1.png');"></div>
                                    <div class="img" style="background-image: url('/static/images/tl-2.png');"></div>
                                    <div class="img" style="background-image: url('/static/images/tl-3.png');"></div>
                                </div>
                            </div>
                            <h2>Book App</h2>
                            <div class="thumbnail-desc">
                                <p>
                                    Helvetica hella dreamcatcher photo booth authentic beard craft beer austin fashion axe master cleanse meditation pickled. Sartorial tattooed meggings post-ironic VHS, everyday carry paleo tumeric you probably haven’t heard of them DIY
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- MODAL END -->
    </div>
    
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
           Swiftkind is a challenge-driven team eager to meet new people that push us to be more creative and bold. Tell us how you want to change the future and let's rock on!
        </p>
        <div class="item-links">
            <a href="{% url 'about" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW OUR STORY
                <img src="/static/images/arrow-right-black.svg" class="arrow-sm">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
    
</div>