{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Swiftkind | Agile Web Development - Python, Django, AngularJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="DC.title" content="Swiftkind | Agile Web Development - Python, Django, AngularJS">
    <meta name="description" content="Swiftkind is a team of Python developers. Our mission is to help business and individuals to grow their businesses using the latest software technologies. ">
    <meta name="keywords" content="Software Development, Agile, Web development, Web Design, Python, Django, Angular JS">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <base href="/">
</head>

<body>
    <app-root></app-root>

    <!-- <script src="{% static 'wowjs/dist/wow.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'scripts/core/dist/inline.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/core/dist/polyfills.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/core/dist/styles.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/core/dist/vendor.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/core/dist/main.bundle.js' %}"></script>
</body>

</html>