<div id="page-wrapper">
    <div class="masthead section" data-section-name="about-us">
      <div id="masthead" class="particles"></div>
        <div class="container main-text">
           <div class="header-content">
                <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    WHO WE ARE
                </h3>
                <h4>
                    <span class="text-content-wrapper">
                        <span typingAnimation [typeSpeed]="30" [startDelay]="800" class="wow" data-wow-duration="0.5s" data-wow-delay="0s">We are Swiftkind. We are no-nonsense, creative and dedicated group of individuals working together to produce benchmark products.</span>
                  </span>
                </h4>
            </div>
        </div>
        <div class="scroll"></div>
    </div>
    <div class="about-philosphy wow fadeInUp section" data-wow-duration="0.5s" data-wow-delay="1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro-text">
                        <h3 class="wow fadeInUp " data-wow-duration="0.5s" data-wow-delay="0s">Ideas have no boundaries. We have no limits.</h3>
                        
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="text-wrapper">
                        <div class="text-content main ">
                            <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">Our wide range of expertise combined with honest approach strengthen our relationship with our clients. This fuels us to work harder to come up with products that exceed expectations.</p>
                            <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                                Combining our creative thinking and problem solving skills, we deliver the right solutions that would allow our clients to meet objectives and business requirements. 
                            </p>
                        </div>
                        <div class="text-content">
                            <a uiSref="works" class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.5s">VIEW OUR PROJECTS<img src="/static/images/arrow-right.svg" class="arrow-sm"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="light-section ">
            <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
                We also take immense pride on our dedication to our clients through swift response and exceptional customer service. With full enthusiasm, we seek to build solid long term relationship based on trust.
            </p>
            <div class="item-links">
                <a uiSref="process" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW  OUR PROCESS
                    <img src="/static/images/arrow-right-black.svg" class="arrow-sm">
                </a>
                <div class="link-options">
                    <a uiSref="contact" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">START A PROJECT WITH US
                    </a>
                </div>
            </div>
        </div>
        <div class="office">
            <div class="office-caption">
                <div>
                    <p>
                        Our team is working together to build a positive, proactive and stimulating environment. Every team member pushes their limits to turn brave ideas into a working and fully usable products.
                    </p>
                    <a href="#" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">VISIT  OUR BLOG
                        <img src="/static/images/arrow-right.svg" class="arrow-sm">
                    </a>
                </div>
            </div>
        </div>
        <div class="people">
            <div class="section-title">
                <div class="bg-anim">
                    <span class="text-anim wow inverted-text" data-wow-duration="0.5s" data-wow-delay="0s" >OUR TEAM</span>
                    <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0s"></div>
                </div>
            </div>
            <div class="caption">
                <h3>
                    <div class="bg-anim">
                        <span class="text-anim wow inverted-text" data-wow-duration="0.5s" data-wow-delay="0s" > People <strong>behind Swiftkind</strong></span>
                        <div class="anim wow" data-wow-duration="0.5s" data-wow-delay="0.5s"></div>
                    </div>
                    </h3>
                <p  class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                   A small team of keen, specialized and diverse people believing that our works could improve people's daily lives. Fueled by our passion for our work, we pursue learing to keep up with the best practices and industry standards.
                </p>
            </div>
            
            <style>

            </style>
            
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/earvin3.png" class="img1">
                                <img src="/static/images/team/earvin1.png" class="img2">
                                <div class="details">
                                    <a href="#">Earvin Gemenez</a>
                                    <p>CEO</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/ralph2.png" class="img1">
                                <img src="/static/images/team/ralph1.png" class="img2">
                                <div class="details">
                                    <a href="#">Ralph Leyga</a>
                                    <p>COO</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/manny2.png" class="img1">
                                <img src="/static/images/team/manny1.png" class="img2">
                                <div class="details">
                                    <a href="#">Manny Candidier</a>
                                    <p>CTO</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/resty3.png" class="img1">
                                <img src="/static/images/team/resty2.png" class="img2">
                                <div class="details">
                                    <a href="#">Restie Antiquin</a>
                                    <p>UI/UX Designer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/kevin3.png" class="img1">
                                <img src="/static/images/team/kevin1.png" class="img2">
                                <div class="details">
                                    <a href="#">Kevin Kalis</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/gong3.png" class="img1">
                                <img src="/static/images/team/gong1.png" class="img2">
                                <div class="details">
                                    <a href="#">Jerome Rumbaoa</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/dudz1.png" class="img1">
                                <img src="/static/images/team/dudz2.png" class="img2">
                                <div class="details">
                                    <a href="#">Sanny Candidier</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/cholo3.png" class="img1">
                                <img src="/static/images/team/cholo1.png" class="img2">
                                <div class="details">
                                    <a href="#">Pocholo Recto</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/king1.png" class="img1">
                                <img src="/static/images/team/king2.png" class="img2">
                                <div class="details">
                                    <a href="#">King Rule</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/kolai1.png" class="img1">
                                <img src="/static/images/team/kolai3.png" class="img2">
                                <div class="details">
                                    <a href="#">Nikolai Teves</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/mike1.png" class="img1">
                                <img src="/static/images/team/mike2.png" class="img2">
                                <div class="details">
                                    <a href="#">Michael Sy</a>
                                    <p>Software Engineer</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/sam2.png" class="img1">
                                <img src="/static/images/team/sam1.png" class="img2">
                                <div class="details">
                                    <a href="#">Sam Benemerito</a>
                                    <p>Intern</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/mae3.png" class="img1">
                                <img src="/static/images/team/mae1.png" class="img2">
                                <div class="details">
                                    <a href="#">Christian Mae Mendez</a>
                                    <p>Intern</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-holder">
                            <div class="member-img">
                                <img src="/static/images/team/sai1.png" class="img1">
                                <img src="/static/images/team/sai3.png" class="img2">
                                <div class="details">
                                    <a href="#">Isaiah Villa Abrille</a>
                                    <p>Intern</p>
                                    <div class="external-links">
                                      <a href="#"><span class="ion-social-github"></span></a>
                                      <a href="#"><span class="ion-social-linkedin"></span></a>
                                      <a href="#"><span class="ion-ios-upload"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <img src="/static/images/next-slide.svg">
                </div>
            </swiper>
        </div>

        <div class="principles section">
            <div class="section-title">
                <div class="bg-anim">
                    <span class="text-anim">WHAT WE BELIEVE IN</span>
                    <div class="anim"></div>
                </div>
            </div>
            <div class="container">
                <div class="row flex">
                    <div class="col-md-6 col-sm-12 no-padding">
                    <div class="principles-header">
                       <h2 class="wow hidden-xs" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0s">To ensure quality,</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="0s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">we assume responsibility</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1s">for the project throughout</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1.5s">the entire process.</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1.5s"></div>
                                </div>
                            </span>
                        </h2>
                       <h2 class="wow visible-xs" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0s">To ensure quality, we</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="0s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="0.5s">assume responsibility</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="0.5s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1s">for the project throughout</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1s"></div>
                                </div>
                            </span>
                            <span>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1.5s">the entire process.</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1.5s"></div>
                                </div>
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-5 col-sm-12">
                    <div class="principles-header">
                        <p class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.5s">Believing that quality is the core of our work, we are taking one step at time by defining what actually matters to us.</p>
                    </div>

                </div>
                <div class="row no-margin">
                    <div class="col-md-5 col-sm-12">
                        <div class="principles-content">
                            <h3>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1.5s">Our purpose</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1.5s"></div>
                                </div>
                            </h3>
                            <p  class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="2s">
                                We design and develop applications that kick off the way people work, play and live. Our designers and strategists work closely to identify needs, design and define functionalities, determine timelines that would allow us to deal with any contingencies and deliver on time.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 col-sm-12 col-sm-offset-0 ">
                        <div class="principles-content">
                            <h3>
                                <div class="bg-anim">
                                    <span class="text-anim wow" data-wow-duration="1s" data-wow-delay="1.5s">Our mission</span>
                                    <div class="anim wow" data-wow-duration="1s" data-wow-delay="1.5s"></div>
                                </div>
                            </h3>
                            <p  class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="2s">
                                We dream of a world where we can inspire more people to create greater solutions that would give everyone the capacity to solve more problems and make everyday life easier by the use of the technology, creativity and skills we have.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-link">
        <h4 class="text-bg">WORK WITH US</h4>
        <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">Let's create something amazing</h3>
        <a uiSref="contact" class="inverted-link wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">MAKE IT HAPPEN</a>
    </div>
</div>