//typography
h3 {
    letter-spacing: .003em;
}

p {
    letter-spacing: .003em;
}

//sections
.section {
    min-height: 100vh;
    height: 100%;
}


//wrappers
.img-link-wrapper {
    img {}
}


.text-wrapper {
    min-height: 650px;
}

//buttons and links
.link-bordered {
    border: solid 1px $white;
    color: $white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: $Maax-Sans-Medium;
    @include transition ( border-color, 0.3s, ease);
    &:hover {
        text-decoration: none;
        color: $white;
        border-color: $jade;
        @include transition ( border-color, 0.3s, ease);
    }
}

.primary-link {
    color: $white;
    text-decoration: none;
    font-family: inherit;
    strong {
        font-family: $Maax-Sans-Medium;
    }
    img {
        display: inline-block !important;
        margin-left: 10px;
        width: auto !important;
    }
}

a {
    text-decoration: none;
    color: $white;
    .arrow-sm{
        margin-left: 10px;
        @include transition ( all, 0.3s, ease);
    }
    &:hover {
        text-decoration: none;
        color: darken($white, 40%);
        @include transition ( all, 0.3s, ease);
        .arrow-sm{
            margin-left: 30px;
             @include transition ( all, 0.3s, ease);
        }
    }
}

.sk-btn-primary {
    background: none;
    color: #fff;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 0;
    padding: 24px 60px;
    font-family: $Maax-Sans-Medium;
    &:hover {
        background: $white;
        color: $black-pearl;
        @include transition(all, ease, 0.5s);
    }
}

.sk-btn-primary[disabled]{
    &:hover{
        background: transparent !important;
        color: $white !important;
    }

}

.inverted-link {
    padding: 20px 50px;
    background: transparent;
    border: solid 2px $white;
    color: $white;
    font-family: $Maax-Sans-Medium;
    @include transition(all, ease, 0.5s);
    &:hover {
        background: $white;
        color: $black-pearl;
        @include transition(all, ease, 0.5s);
    }
}


.item-links {
    display: flex;
    padding: 0 90px;
    justify-content: space-between;
    .link-options {
        a {
            margin-right: 70px;
        }
    }
    a {
        font-size: 10px;
        font-family: $questrial-regular;

        letter-spacing: 1px;
        @include transition(margin-left, 0.3s, ease);
        &.more {
            margin-left: 0px;
            @include transition(margin-left, 0.3s, ease);
            .arrow-sm {

                width: auto;
                display: initial;
                margin-left: 10px;
                @include transition(margin-left, 0.3s, ease);
            }
        }
    }
}



.pagelinks {
    position: relative;
    right: 0;
    text-align: left;
    width: 100%;
    a {
        text-align: left;
        font-size: 14px;
        color: $white;
        margin-top: 20px;
        font-family: $Maax-Sans-Regular;
        strong {

            font-family: $Maax-Sans-Regular;
            position: relative;
            color: $jade;
            font-weight: bold;
        }
        i {
            font-size: 10px;
            font-family: $Maax-Sans-Regular;
            margin-right: 0;
            transition: ease-in-out margin-right 0.5s;
        }
        &:hover {
            i {
                margin-right: -20px;
                transition: ease-in-out margin-right 0.5s;
            }
        }
    }

    &:hover {
        span {

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 100%;
                top: 0;
                background: #2098D1;
                height: 4px;
                -webkit-transition-property: right;
                transition-property: right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
        }
    }
}


.flex>[class^="col-"],
.flex>[class*=" col-"] {
    display: flex;
    align-items: center;
}

//custom icons and svg
.arrow-thin {}



//paddings and margins
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

//lines and grids
.hr-line {
    border-left: solid 1px #0e0f15;
}


//flex align
.inline-flex {
    display: flex;
}

.flex {

    &-center {
        display: flex;
        align-items: center;
    }
}


//color background
.midnight {
    background: $midnight;
    color: $white;
}

.blackpearl {
    color: $white;
    background: $black-pearl;
}




//wrappers
.fit-content-wrapper {
    position: relative;
    width: -moz-available;
    //width: -webkit-fill-available;
}

//sections
.section {
    position: relative;
    padding-top: 150px;
}

.section-title {
    position: absolute;
    top: 100px;
    left: 75px;
    border-left: solid 2px $jade;
    padding-left: 20px;
    z-index: 33;
    width: auto;
    @include mobile {
        top: 50px;
        left: 18px;
    }
    .bg-anim {
        .text-anim {
            color: $white;
            font-family: $Roboto-Mono-Medium;
        }
    }
}


//skrollr icons
.icon-bg {
    position: absolute;
    z-index: 1;
}

.scroll {
    width: 3px;
    height: 67px;
    background-color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    z-index: 9999;
    animation: scroll-down infinite 2s;
    margin: 0 auto;
}



//error message

.has-error{
    input{
        border-bottom: solid 1px $jade !important;
        color: $jade !important;
        @include placeholder{
            color: $jade !important;
        }
    }
    span{
        color: $jade !important;
    }
}