
.swiper-slide {
  color: #fff;
  cursor: pointer !important;

}

.swiper-button-next {
  background: none;
  position: absolute;
  bottom: 100px;
  right: 330px;
  top: 100px;
  @include tablet{
    top: 200px;
  }
}

// wow js
.wow {
  visibility: hidden;
}

//hover css
.hvr-sweep-to-right:before {
  background: $jade;
}
