//owl carousel
.swiper-slide {
  color: #fff;
  cursor: pointer !important;
}

.swiper-button-next {
  background: none;
  position: absolute;
  bottom: 100px;
  right: 330px;
  top: 100px;
  @include tablet {
    top: 200px;
  }
}


swiper {
  height: auto;
  width: 100%;
}

.swiper-wrapper {
  box-sizing: border-box;
  .img-holder {
    position: relative;
    .member-img {
      position: relative;
      img {}
      .img1 {
        width: 250px;
        height: 349px;
        position: absolute;
        opacity: 1;
        @include transition( all,
        ease,
        0.2s)
      }
      .img2 {
        width: 250px;
        height: 349px;
        opacity: 0;
        @include transition( all,
        ease,
        0.2s);
      }
      .details {
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        background: $jade;
        padding-top: 10px;
        padding-left: 10px;
        opacity: 0;
        width: 250px;
        @include transition( all,
        ease,
        0.2s);

        a {
          color: $white;
          opacity: 0;
          font-family: $Maax-Sans-Medium;
          margin: 30px 10px 10px;
        }
        p {

          opacity: 0;
          color: $white;
          margin-left: 10px;
          font-family: $Maax-Sans-Regular;
        }
        .external-links {
          opacity: 0;
          margin-left: 10px;
          a {
            margin: 30px 10px 10px 0px;
          }
        }
      }
    }
    &:hover {
      .member-img {
        .img1 {
          opacity: 0;
          @include transition( all,
          ease,
          0.5s);
        }
        .img2 {
          opacity: 1;
          @include transition( all,
          ease,
          0.5s);
        }
        .details {
          width: 250px;
          height: 80px;
          opacity: 1;
          @include transition( all,
          ease,
          0.5s);
          transition-delay: 0.2s;
          a {
            opacity: 1;
            @include transition( all,
            ease,
            0.5s);
            transition-delay: 0.2s;
          }
          p {
            opacity: 1;
            @include transition( all,
            ease,
            0.5s);
            transition-delay: 0.4s;
          }
          .external-links {
            opacity: 1;
            @include transition( all,
            ease,
            0.5s);
            transition-delay: 0.4s;
          }
        }
      }
    }
  }
}

// wow js
.wow {
  visibility: hidden;
}

//hover css
.hvr-sweep-to-right:before {
  background: $jade;
}
