//owl carousel
.carousel.vertical .carousel-inner>.item {
    text-align: left;
    width: 100%;
    -webkit-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.owl-theme {
    .owl-dots {
        .owl-dot {
            span {
                width: 8px;
                height: 8px;
                background-color: #373737;
            }
            &.active {
                span {
                    background-color: #ffffff;
                }
            }
        }
    }
}


#team-carousel {
    .owl-nav {
        .owl-prev {
            display: none;
        }
        .owl-next {
            position: absolute;
            bottom: 100px;
            right: 215px;
            @include mobile {
                bottom: 50px;
                right: 0;
            }
        }
    }
}

.owl-stage-outer {

    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel.vertical .carousel-inner>.item {
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
        width: 100%;
    }
    .carousel.vertical .carousel-inner>.item.next,
    .carousel.vertical .carousel-inner>.item.active.right {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner>.item.prev,
    .carousel.vertical .carousel-inner>.item.active.left {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner>.item.next.left,
    .carousel.vertical .carousel-inner>.item.prev.right,
    .carousel.vertical .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}

// wow js
.wow {
    visibility: hidden;
}

//hover css
.hvr-sweep-to-right:before {
    background: $jade;
}