//questrial
$questrial-regular: 'questrial-regular';

//maax
$Maax-Sans-Bold: 'Maax-Sans-Bold';
$Maax-Sans-BoldItalic: 'Maax-Sans-BoldItalic';
$Maax-Sans-Medium: 'Maax-Sans-Medium';
$Maax-Sans-MediumItalic: 'Maax-Sans-MediumItalic';
$Maax-Sans-Regular: 'Maax-Sans-Regular';



//Roboto Mono
$Robot-Mono-Bold: 'Roboto Mono Bold';
$Roboto-Mono-Bolditalic: 'Roboto Mono Bolditalic';
$Roboto-Mono-Italic: 'Roboto Mono Italic;';
$Roboto-Mono-Light: 'Roboto Mono Light';
$Roboto-Mono-Lightitalic: 'Roboto Mono Lightitalic';
$Roboto-Mono-Medium: 'Roboto Mono Medium';
$Roboto-Mono-Mediumitalic: 'Roboto Mono Mediumitalic';
$Roboto-Mono-Regular: 'Roboto Mono Regular';
$Roboto-Mono-Thin: 'Roboto Mono Thin';
$Roboto-Mono-Thinitalic: 'Roboto Mono Thinitalic';


//Titillium
$Titillium-Extralight: 'Titillium Extralight';
$Titillium-Lightitalic:'Titillium Lightitalic';
$Titillium-light: 'Titillium light';
$Titillium-Semibolditalic: 'Titillium Semibolditalic';
$Titillium-Semibold: 'Titillium Semibold';



//DINNEXT PRO
$DINNextLTPro-Black: 'DINNextLTPro-Black';
$DINNextLTPro-BlackCondensed: 'DINNextLTPro-BlackCondensed';
$DINNextLTPro-BlackItalic: 'DINNextLTPro-BlackItalic';
$DINNextLTPro-Bold: 'DINNextLTPro-Bold';
$DINNextLTPro-BoldCondensed: 'DINNextLTPro-BoldCondensed';
$DINNextLTPro-BoldItalic: 'DINNextLTPro-BoldItalic';
$DINNextLTPro-Condensed: 'DINNextLTPro-Condensed';
$DINNextLTPro-Heavy: 'DINNextLTPro-Heavy';
$DINNextLTPro-HeavyCondensed: 'DINNextLTPro-HeavyCondensed';
$DINNextLTPro-HeavyItalic: 'DINNextLTPro-HeavyItalic';
$DINNextLTPro-Italic: 'DINNextLTPro-Italic';
$DINNextLTPro-Light: 'DINNextLTPro-Light';
$DINNextLTPro-LightCondensed: 'DINNextLTPro-LightCondensed';
$DINNextLTPro-LightItalic: 'DINNextLTPro-LightItalic';
$DINNextLTPro-Medium: 'DINNextLTPro-Medium';

//colors
$rich-black: #050811;
$dark-grey: #12151d;
$brownish-grey: #6e6e6e;
$midnight: #04060c;
$black-pearl: #040710;
$jade: #0edc87;

$white: #ffffff;
$smoke: #fafafa;



//project colors

$trackr: #05273e;
$sjobs: #cb2066;
$bookapp: #19cbcb;
$slearn: #33bc9c;
/*

notes:
 - replace svg icons used on links and texts with custom font icons
*/