<div class="content-wrapper">
    <div class="masthead">
        <div class="container main-text">
            <div class="header-content">
                <h3 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        LET'S TALK ABOUT THE FUTURE
                </h3>
                <h4>
                    <span class="text-content-wrapper">
                        <span typingAnimation [typeSpeed]="30" [startDelay]="800" class="wow" data-wow-duration="0.5s" data-wow-delay="0s">We are always curious about what people want to develop. If you are interested in working with us, let's chat! </span>
                  </span>
                </h4>
            </div>
        </div>
    </div>
    <div class="contact-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
        <div class="container-fluid no-padding">
            <div class="row no-margin">
                <div class="col-md-12 no-padding">
                    <div class="form-wrapper">
                        <div class="form-content">
                            <div class="form">
                                <form [formGroup]="form" (ngSubmit)="send()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('name')}">
                                                <label>Hello, my name is</label>
                                                <input type="text" formControlName="name" class="form-control" placeholder="what people call you">
                                                <span [hidden]="fieldIsValid('name')">This field is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('content')}">
                                                <label>I am looking for help with</label>
                                                <input type="text" formControlName="content" class="form-control" placeholder="what's the problem (app, design, logo)">
                                                <span [hidden]="fieldIsValid('content')">This field is required.</span>                                            
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('budget')}">
                                                <label>My budget is</label>
                                                <input type="number" formControlName="budget" class="form-control" placeholder="$$$$$">
                                                <span [hidden]="fieldIsValid('budget')">This field is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('start_date')}">
                                                <label>I need it done by</label>
                                                <input type="date" formControlName="start_date" class="form-control" placeholder="July 9, 2017">
                                                <span [hidden]="fieldIsValid('start_date')">This field is required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('email')}">
                                                <label>You can e-mail me at</label>
                                                <input type="email" formControlName="email" class="form-control" placeholder="youremail@domain.com">
                                                <span [hidden]="fieldIsValid('email')">Please enter a valid email.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" [ngClass]="{'has-error': !fieldIsValid('company')}">
                                                <label>I'm affiliated with</label>
                                                <input type="text" formControlName="company" class="form-control" placeholder="your company (optional)">
                                                <span [hidden]="fieldIsValid('company')">The max characters for this field is limited to (80).</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button [disabled]="!form.valid" class="btn sk-btn-primary" type="submit">
                                                SEND MESSAGE
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-container">
        <div class="map-details">
            <div>
                <div class="details-header">
                    <h2>Swiftkind HQ</h2>
                    <h4>4:37 PM (GMT+ 8)</h4>
                </div>
                <h3>
                    (082) 225 1050 | contact@swiftkind.com
                </h3>
            </div>
        </div>
        <iframe src="https://snazzymaps.com/embed/27006" width="100%" height="600px" style="border:none;" class="map"></iframe>
    </div>
    <div class="light-section">
        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0s">
           Swiftkind is a challenge-driven team eager to meet new people that push us to be more creative and bold. Tell us how you want to change the future and let's rock on!
        </p>
        <div class="item-links">
            <a uiSref="about" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">KNOW OUR STORY
                <img src="/static/images/arrow-right-black.svg" class="arrow-sm">
            </a>
            <div class="link-options">
                <a href="https://github.com/Swiftkind" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">GITHUB</a>
                <a href="https://www.behance.net/restyantiqc47e" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">BEHANCE</a>
                <a href="https://www.facebook.com/swiftkind/?ref=br_rs" class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">FACEBOOK</a>
            </div>
        </div>
    </div>
    
</div>